p {
    margin-left: 40%;
}

.set-admin .ui-admin {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 125px;
        height: 125px;
    }

    span {
        font-size: 3.25rem !important;
        font-weight: 500 !important;
        letter-spacing: -.025em !important;
    }
}